* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Micro 5", sans-serif;
}

body {
	text-align: center;
	background-color: #ffffff;
	height: 100vh;
}

h1 {
	font-size: 4rem;
	text-transform: uppercase;
}

span {
	color: rgb(134, 134, 134);
}

.show,
h1 {
	text-transform: uppercase;
}

/* ===== STRONA STARTOWA ===== */
.startScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 10px 25px 40px;
}

.entrance img {
	width: 40%;
	min-width: 300px;
}

/* ===== PRZYCISK STARTU ===== */
.game button {
	font-size: 1.8rem;
	color: white;
	background-color: black;
	padding: 15px 40px;
	margin-top: 15px;
	border: 8px solid white;
	outline: 8px solid black;
	text-transform: uppercase;
	cursor: pointer;
	image-rendering: pixelated;
	transition: all 0.5s ease;
}

.game button:hover {
	background-color: white;
	color: black;
	border: 8px solid black;
	outline: 8px solid white;
}

/* ===== SEKCJA LABIRYNTU ===== */
.mazeContainer {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 25px 40px;
	height: 100vh;
}

.mazeContainer h1 {
	font-size: 5rem;
}

/* ===== LABIRYNT ===== */
.maze {
	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	max-width: 600px;
	height: 90vw;
	max-height: 600px;
	background-color: rgb(218, 218, 218);
}

/* ===== KOMÓRKI LABIRYNTU ===== */
.cell {
	background-color: #d5d5d5;
	border: 1px solid white;
	width: calc(100% / 15);
	height: calc(100% / 15);
	cursor: pointer;
	box-sizing: border-box;
}

.wall {
	background-color: #333;
}

.start {
	background-color: #00ff00;
}

.exit {
	background-color: #ff0000;
}

/* ===== STEROWANIE ===== */
.control button {
	background-color: #0000ff;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 1.5rem;
	cursor: pointer;
	margin-top: 20px;
}
